body {
  color: $white;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 0.1vw;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  display: grid;
}

textarea {
  resize: none;
}

button {
  all: unset;
}

.displayNone {
  display: none;
}