@keyframes pulse {
    0% {
        color: $darkViolet;
        background-color: $white;
        line-height: 5em;
        height: 5em;
        width: 10em;
        top: 65%;
        left: 50%;
        color: $darkViolet;
        text-align: center;
        border-radius: 60px;
        margin: 0;
        transform: translate(-50%);
    }

    30% {
        color: transparent;
    }

    100% {
        top: 65%;
        left: 50%;
        color: transparent;
        text-align: center;
        height: 4em;
        width: 4em;
        border-radius: 60px;
        margin: 10% 0 0 35%;
    }
}

@-webkit-keyframes pulse {
    0% {
        color: $darkViolet;
        background-color: $white;
        line-height: 5em;
        height: 5em;
        width: 10em;
        top: 500px;
        left: 50%;
        color: $darkViolet;
        text-align: center;
        border-radius: 60px;
        margin: 0;
        transform: translate(-50%);
    }

    30% {
        color: transparent;
    }

    100% {
        top: 500px;
        left: 50%;
        color: transparent;
        text-align: center;
        height: 4em;
        width: 4em;
        border-radius: 60px;
        margin: 10% 0 0 35%;
    }
}

@-webkit-keyframes returnPulse {
    0% {
        top: 65%;
        left: 50%;
        color: transparent;
        text-align: center;
        height: 4em;
        width: 4em;
        border-radius: 60px;
        margin: 10% 0 0 35%;
        background: url(/images/flecha.png);
        background-position: center center;
        background-size: cover;
        -webkit-user-select: none;
        user-select: none;
    }

    80% {
        height: 4em;
        width: 4em;
        background: none;
    }

    100% {
        height: 0;
        width: 0;
    }
}

@keyframes returnPulse {
    0% {
        top: 65%;
        left: 50%;
        color: transparent;
        text-align: center;
        height: 4em;
        width: 4em;
        border-radius: 60px;
        margin: 10% 0 0 35%;
        background: url(/images/flecha.png);
        background-position: center center;
        background-size: cover;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    80% {
        height: 4em;
        width: 4em;
        background: none;
    }

    100% {
        height: 0;
        width: 0;
    }
}

@-webkit-keyframes returnPulse2 {
    0% {
        top: 500px;
        left: 50%;
        text-align: center;
        height: 4em;
        width: 4em;
        border-radius: 60px;
        margin: 10% 0 0 35%;
        color: transparent;
    }

    70% {
        color: transparent;
    }

    100% {
        color: $darkViolet;
        background-color: $white;
        line-height: 5em;
        height: 5em;
        width: 10em;
        top: 500px;
        left: 50%;
        color: $darkViolet;
        text-align: center;
        border-radius: 60px;
        transform: translate(-50%);
    }
}

@keyframes returnPulse2 {
    0% {
        top: 500px;
        left: 50%;
        text-align: center;
        height: 4em;
        width: 4em;
        border-radius: 60px;
        margin: 10% 0 0 35%;
        color: transparent;
    }

    70% {
        color: transparent;
    }

    100% {
        color: $darkViolet;
        background-color: $white;
        line-height: 5em;
        height: 5em;
        width: 10em;
        top: 500px;
        left: 50%;
        color: $darkViolet;
        text-align: center;
        border-radius: 60px;
        transform: translate(-50%);
    }
}